resource/wsdl/BhartiAxa_Car_Premium_Live.xml

<?xml version="1.0"?>
<wsdl:definitions
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:tns="http://schemas.cordys.com/gateway/Provider"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	name="B2C_TPI_Gateway"
	targetNamespace="http://schemas.cordys.com/gateway/Provider">
	<wsdl:types>
		<xsd:schema
			xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			xmlns="http://schemas.cordys.com/xmlschema/InlineSchemaDefinition/1.0"
			attributeFormDefault="unqualified"
			elementFormDefault="qualified"
			targetNamespace="http://schemas.cordys.com/gateway/Provider">
			<xsd:element
				xmlns="http://schemas.cordys.com/businessobjectdocument/BusinessObjectDocument/1.0"
				name="serve">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element
							name="SessionDoc"
							type="xsd:anyType"
						/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element
				xmlns="http://schemas.cordys.com/businessobjectdocument/BusinessObjectDocument/1.0"
				name="serveResponse">
				<xsd:complexType>
					<xsd:all>
						<xsd:element
							maxOccurs="1"
							minOccurs="0"
							name="tuple">
							<xsd:complexType>
								<xsd:all>
									<xsd:element
										name="old">
										<xsd:complexType>
											<xsd:all>
												<xsd:element
													name="serve">
													<xsd:complexType>
														<xsd:all>
	<xsd:element
		name="serve"
		type="xsd:anyType"
	/>
														</xsd:all>
													</xsd:complexType>
												</xsd:element>
											</xsd:all>
										</xsd:complexType>
									</xsd:element>
								</xsd:all>
							</xsd:complexType>
						</xsd:element>
					</xsd:all>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message
		name="serveInput">
		<wsdl:part
			name="serveinputpart"
			element="tns:serve"
		/>
	</wsdl:message>
	<wsdl:message
		name="serveOutput">
		<wsdl:part
			name="serveoutputpart"
			element="tns:serveResponse"
		/>
	</wsdl:message>
	<wsdl:portType
		name="B2C_TPI_GatewayProvider">
		<wsdl:operation
			name="serve">
			<wsdl:input
				message="tns:serveInput"
			/>
			<wsdl:output
				message="tns:serveOutput"
			/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding
		name="B2C_TPI_GatewayProvider"
		type="tns:B2C_TPI_GatewayProvider">
		<soap:binding
			style="document"
			transport="http://schemas.xmlsoap.org/soap/http"
		/>
		<wsdl:operation
			name="serve">
			<soap:operation
				soapAction=""
			/>
			<wsdl:input>
				<soap:body
					use="literal"
				/>
			</wsdl:input>
			<wsdl:output>
				<soap:body
					use="literal"
				/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service
		name="B2C_TPI_GatewayProviderService">
		<wsdl:port
			name="B2C_TPI_GatewayProviderPort"
			binding="tns:B2C_TPI_GatewayProvider">
			<soap:address
				location="https://www.bhartiaxaonline.co.in/cordys/com.eibus.web.soap.Gateway.wcp?organization=o=B2C,cn=cordys,cn=PROD01,o=axa-in.intraxa"
			/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
