resource/wsdl/UnitedIndia_Car_Premium_Live.xml

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.uiic.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.uiic.com/" name="UGenericMotorOnlineServiceService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.uiic.com/" schemaLocation="http://portal.uiic.in:80/uiic/UGenericService/UGenericMotorOnlineService?xsd=1" />
</xsd:schema>
</types>
<message name="calculatePremium">
<part name="parameters" element="tns:calculatePremium" />
</message>
<message name="calculatePremiumResponse">
<part name="parameters" element="tns:calculatePremiumResponse" />
</message>
<message name="saveProposal">
<part name="parameters" element="tns:saveProposal" />
</message>
<message name="saveProposalResponse">
<part name="parameters" element="tns:saveProposalResponse" />
</message>
<message name="paymentInfo">
<part name="parameters" element="tns:paymentInfo" />
</message>
<message name="paymentInfoResponse">
<part name="parameters" element="tns:paymentInfoResponse" />
</message>
<portType name="UGenericMotorOnlineService">
<operation name="calculatePremium">
<input wsam:Action="http://ws.uiic.com/UGenericMotorOnlineService/calculatePremiumRequest" message="tns:calculatePremium" />
<output wsam:Action="http://ws.uiic.com/UGenericMotorOnlineService/calculatePremiumResponse" message="tns:calculatePremiumResponse" />
</operation>
<operation name="saveProposal">
<input wsam:Action="http://ws.uiic.com/UGenericMotorOnlineService/saveProposalRequest" message="tns:saveProposal" />
<output wsam:Action="http://ws.uiic.com/UGenericMotorOnlineService/saveProposalResponse" message="tns:saveProposalResponse" />
</operation>
<operation name="paymentInfo">
<input wsam:Action="http://ws.uiic.com/UGenericMotorOnlineService/paymentInfoRequest" message="tns:paymentInfo" />
<output wsam:Action="http://ws.uiic.com/UGenericMotorOnlineService/paymentInfoResponse" message="tns:paymentInfoResponse" />
</operation>
</portType>
<binding name="UGenericMotorOnlineServicePortBinding" type="tns:UGenericMotorOnlineService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="calculatePremium">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="saveProposal">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="paymentInfo">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="UGenericMotorOnlineServiceService">
<port name="UGenericMotorOnlineServicePort" binding="tns:UGenericMotorOnlineServicePortBinding">
<soap:address location="http://portal.uiic.in:80/uiic/UGenericService/UGenericMotorOnlineService" />
</port>
</service>
</definitions>